@font-face { font-family: 'Stem-Bold';  src: local('Stem-Bold'), url('https://nomail.com.ua/files/woff/d0f0e09f6c5bce704e58353e170d2453.woff') format('woff'); }
@font-face { font-family: 'Stem-Regular';  src: local('Stem-Regular'), url('https://nomail.com.ua/files/woff/4771ceab8cff72aa0b6fd3bce81189a8.woff') format('woff'); }
@font-face { font-family: 'Stem-Medium';  src: local('Stem-Medium'), url('https://nomail.com.ua/files/woff/9ca2eededfa17d1a504c8516db2a3fbf.woff') format('woff'); }
@font-face { font-family: 'Stem-Light';  src: local('Stem-Light'), url('https://nomail.com.ua/files/woff/80089a8a7d3e9baddc7b32bfcc91f614.woff') format('woff'); }

* {
	margin: 0;
	padding: 0;
}

.baner {
	background: url(./images/background.png) center/cover no-repeat;
}

.kitten_image {
	width: 447px;
	height: 426px;
}

.container {
	width: 1294px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.text {
	margin: 55px 72px 0px 0px;
}

.title {
	font-family: Stem-Bold;
	font-size: 36px;
	line-height: 46px;
	color: #343640;
	width: 509px;
	height: 46px;
	margin-bottom: 6px;
}

.p {
	font-family: Stem-Regular;
	font-size: 22px;
	line-height: 28px;
	color: #343640;
	margin-bottom: 44px;
}

.left_button {
	width: 220px;
	height: 50px;
	background: #572F8C;
	border-radius: 7px;
	font-family: Stem-Medium;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.background_top_image {
	width: 304px;
	height: 202px;
	background: #FFFFFF;
	border-radius: 7px 7px 0px 0px;
	text-align: center;
}

.top_image {
	width: 197px;
	height: 197px;
}

.bottom_image {
	background: url(./images/place-for-info.png) center/cover no-repeat;
	border-radius: 0px 0px 7px 7px;
	padding: 19px 23px 23px 25px;
}

.top_text, .bottom_text {
	display: flex;
	align-items: center;
}

.bottom_text {
	justify-content: space-between;
	margin-top: 13px;
}

.top_left_text {
	font-family: Stem-Bold;
	font-size: 33px;
	line-height: 43px;
	color: #FFFFFF;
}

.top_right_text {
	font-family: Stem-Medium;
	font-size: 18px;
	line-height: 15px;
	color: #FFFFFF;
	margin-left: 11px;
}

.bottom_left_text {
	font-family: Roboto;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}

.bottom_right_button {
	width: 110px;
	height: 35px;
	background: #68D6F4;
	border: none;
	border-radius: 5px;
	font-family: Stem-Medium;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}

.right_baner {
	position: relative;
}

.arrow {
	position: absolute;
    right: 100%;
    display: flex;
    padding-right: 44px;
    bottom: 0;
}

.arrow_left {
	margin-right: 16px;
}

.arrow_left, .arrow_right {
	border: none;
	background: none;
}
